
.parent {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        background-color: rgb(217, 217, 217);
        }
        
        .div1 { grid-area: 1 / 1 / 3; }
        .div2 { grid-area: 1 / 2 / 3; }
        .div3 { grid-area: 1 / 3 / 3; }



.contador {
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 15px;
            grid-row-gap: 15px;
            }
            
            .contadoruno { grid-area: 1 / 1 / 3; }
            .contadordos { grid-area: 1 / 2 / 3; }
            .contadortres { grid-area: 1 / 3 / 3; }
        
    
                    
.buy {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    }
    
    .buno { grid-area: 1 / 1 / 3; }
    .bdos { grid-area: 1 / 2 / 3; }
    .btres { grid-area: 1 / 3 / 3; }


    button {
        background-color: rgb(217, 217, 217);
        font-size: 15px;
        border: none;
        font-family: Georgia ;
        font-style: oblique;
        padding: 15px;
    }